@using Models;
@model IEnumerable<Customer>

<h1 class="text-center"> List of Customers</h1>
<table border="2", class="table table-hover">
<tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th> 
    <th scope="col">Spent</th>
    <th scope="col">Delete</th> 
    <th scope="col">Edit</th>   
</tr>
    @foreach(var customer in Model){
        <tr class="table-active">
            @foreach (var item in customer.ToStringList())
                {<td>@item</td>}
            <td><form method="POST"> @Html.ActionLink("", "Delete", new{id=customer.Id}, new{@class="btn btn-outline-danger btn-lg"})   </form></td>
            <td><form method="GET">  @Html.ActionLink("", "Select", new{id=customer.Id}, new{@class="btn btn-outline-info btn-lg"})     </form></td>
        </tr>
    }
</table>
<form class="text-center" method="GET" action="/Customer/Create"><button type="submit" class="btn btn-success btn-lg">Add Customer</button></form>
