@*This displays text boxes to enter Name, Address, Phone, and Email for a new Customer.*@
@{
}
@model WebInterface.Models.CustomerVM

<h1>Add New Customer</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" asp-required="true" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" asp-required="true" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" asp-required="true" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" asp-required="true" />
        <span asp-validation-for="Email"></span>
    </div>

    <button type="submit" value="Create">Add Customer</button>
</form>