@*This displays text boxes to enter Name, Description, Category, and Price for a new Product.*@
@{
}
@model WebInterface.Models.ProductVM

<h1 class="text-center">Edit Product</h1>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="name" class="form-control" asp-for="Name" asp-required="true" placeholder="Samantha Tokatsu">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="Text" class="form-control" asp-for="Description" asp-required="true" placeholder="White Sweet Smooth">
            <label asp-for="Description">Description</label>
            <span asp-validation-for="Description"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="Text" class="form-control" asp-for="Category" asp-required="true" placeholder="Food">
            <label asp-for="Category">Category</label>
            <span asp-validation-for="Category"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="Price" class="form-control" asp-for="Price" asp-required="true" placeholder="11.78">
            <label asp-for="Price">Price</label>
            <span asp-validation-for="Price"></span>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-lg btn-primary" value="Edit">Submit</button>
        </div>
    </div>
</form>